<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AngularJS Plunker</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link data-require="bootstrap-css" data-semver="3.3.6" rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <style>
    body {
      padding-top: 60px;
    }

    @media (max-width: 979px) {

      /* Remove any padding from the body */
      body {
        padding-top: 0;
      }
    }
  </style>
  <link rel="stylesheet" href="style.css" />
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js"
    data-semver="1.4.9"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="MainCtrl" class="container-fluid">
  <div class="row">
    <div class="col-md-8" ng-init="getEmp();">
      
      <table class="table table-border">
        <thead>
          <tr>

            <th>Name</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Salary(USD)</th>
            <th>Salary(EUR)</th>
            <th colspan="2">Action</th>
            
          </tr>
        </thead>
        <tbody ng-repeat="e in emps">
          <tr>
            <td>{{e.name}}</td>
            <td>{{e.email}}</td>
            <td>{{e.dob | date:'medium'}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.salary * 0.89 }}</td>
            <td><button class="btn btn-primary btn-xs" ng-click="empEdit(e.id);">Edit</button></td>
            <td><button class="btn btn-danger btn-xs" ng-click="empDelete(e.id);">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <form name="empform" ng-submit="submitDet();">

        <div class="form-group" myq-input-feedback="" >
          <label>Full Name</label>
          <input type="text" class="form-control" ng-model="emp.name" required/>
        </div>
        <div class="form-group">
          <label>Position</label>

          <select class="form-control" ng-model="emp.position" required>
            <option value="employee" selected> Employee </option>
            <option value="ceo"> CEO </option>
            <option value="cto"> CTO </option>
            <option value="cfo"> CFO </option>
            <option value="team_lead"> Team Lead </option>
          </select>
        </div>
        <div class="form-group" myq-input-feedback="">
          <label>Email</label>
          <input type="email" class="form-control" ng-model="emp.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
          <span style="color:Red" ng-show="empform.email.$error.required"> Required! </span>

          <span style="color:Red" ng-show="empform.email.$dirty&&empform.email.$error.pattern">Please Enter Valid
            Email</span>

          <br /><br />
        </div>
        <div class="form-group" myq-input-feedback="" >
          <label>DOB</label>
          <input type="date" class="form-control" ng-model="emp.dob" required/>
        </div>
        <div class="form-group" myq-input-feedback="">
          <label>Salary</label>
          <input type="number" class="form-control" ng-model="emp.salary" required/>
        </div>

        <div class="form-group" myq-input-feedback="">

          <button type="submit" id="submit">Save</button>
        </div>


      </form>

    </div>
  </div>

</body>

</html>